<h1>Welcome to Chore Tracker!</h1>

<% if user_signed_in? != true %>
<p><strong>About Chore Tracker</strong></p>
<body>Don't let keeping track of who does what become its own chore...use Chore Tracker instead! With Chore Tracker anyone can manage a house's worth of chores in a few seconds a day. If you sign up you can:</body>
<ul>
	<li>Create or join a household</li>
	<li>Create and delete chores</li>
	<li>See at a glance complete and incomplete chores for you and your household</li>
	<li>Leave the awkwardness of nagging behind...just send your roommate a link to the site!</li>
</ul>
<p><strong><%= link_to "Sign Up Today!", new_user_registration_path %></strong></p>
<% end %>

<% if user_signed_in? and current_user.household_id != nil %>
	<p><%= link_to "Your Household", households_path %> | 
	<% elsif user_signed_in? and current_user.household_id == nil %>
	<%= link_to "All Households", households_path %> | 
<% end %>

<% if user_signed_in? %>

<%= link_to "New Household", new_household_path %> 
<p></p>
<%= link_to "Your Chores", chores_path %> | 
<%= link_to "New Chore", new_chore_path %>



<% end %>