<h1> <%= @chore.name %> </h1>

<li> <%= "Time: #{@chore.points} minutes" %> </li>
<li> <%= "Status: #{@chore.status}" %> 

<p></p>
<%= link_to "Edit Chore", edit_chore_path(@chore)%>

<p></p>
<% if current_user.household_id != nil %>
<%= link_to "Your Household", household_path(current_user.household) %>
<% else %>
<%= link_to "Your Chores", chores_path %>
<% end %>