<h1> <%= @household.name %></h1>

  <% @users.each do |user| %>
  	<p></p>
    <% @chores = user.chores.sort_by &:name %>
    <strong> 
    <%= "#{user.email} (Incomplete Chores: #{@chores.where(status: 'Incomplete').sum(:points)} minutes, Complete Chores: #{@chores.where(status: 'Complete').sum(:points)} minutes)" %>  
    </strong>
    	<% @chores.each do |chore| %>
    		<li>
    	 		<%= link_to "#{chore.name}", chore_path(chore) %>
    	 		<%= "(#{chore.points} minutes) | Status: #{chore.status}"%>
    	 		 | 
    	 		<% if chore.status == 'Incomplete'%>
					<%= link_to "Mark Complete/Incomplete", complete_chore_path(chore) %>
				<% else %>
					<%= link_to "Mark Complete/Incomplete", incomplete_chore_path(chore) %>
				<% end %>
				 |
				<%= link_to "Delete", chore_path(chore), :method => :delete %>
    	 		
		<% end %>
    	 	</li>
    	
   <% end %>

<% if current_user.household_id == @household.id %>
<p><%= link_to "New Chore", new_chore_path%></p>
<% end %>

<% if current_user.household_id != @household.id%>
	<%= link_to "Join/Leave Household", join_household_path(@household) %>
<% else %>
	<%= link_to "Join/Leave Household", leave_household_path(@household) %>
<% end %>

<% if current_user.household_id == @household.id%>
	<%= "|" %>
	<%= link_to "Edit Household", edit_household_path(@household) %>
<% end %>

<% if current_user.household_id != @household.id %>
<p><%= link_to "All Households", households_path%></p>
<% end %>

<p></p>
<%= link_to 'Home', root_path %>
